
@{
    ViewBag.Title = "Trang chủ";
    var listclass = (List<Manager_Client.ViewModels.ClassViewModel>)ViewBag.listClass;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trung tâm gia sư Ell</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="~/Assets/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Assets/lib/slick/slick.css" rel="stylesheet">
    <link href="~/Assets/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-envelope"></i>
                    Caoanhtu20699@email.com
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-phone-alt"></i>
                    +84345506845
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar End -->
    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="https://localhost:44395/" class="nav-item nav-link">Trang Chủ</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Khóa Học</a>
                            <div class="dropdown-menu">
                                <a href="https://localhost:44395/Home/TeacherClass" class="dropdown-item">Dành Cho Giảng Viên</a>
                                <a href="https://localhost:44395/Home/StudentClass" class="dropdown-item">Dành Cho Học Sinh</a>
                            </div>
                        </div>
                        
                        <a href="https://localhost:44395/Home/Contact1" class="nav-item nav-link">Liên Hệ</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Tài Khoản</a>
                            <div class="dropdown-menu">
                                <a href="http://localhost:50137/" class="dropdown-item">Đăng Nhập</a>
                                <a href="https://localhost:44395/Home/dangki" class="dropdown-item">Đăng Kí</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->
    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="https://localhost:44395/">
                            <img src="~/Assets/img/logo111.png" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Tìm kiếm">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->
    <!-- Main Slider Start -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">

                                <a class="nav-link" href="https://localhost:44395/"><i class="fa fa-home"></i>trang Chủ</a>


                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:44395/Home/Classall"><i class="fa fa-plus-square"></i>Lớp Mới Mở</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="header-slider normal-slider">
                        <div class="header-slider-item">
                            <img src="~/Assets/img/tada11.jpg" alt="Slider Image" />

                        </div>
                        <div class="header-slider-item">
                            <img src="~/Assets/img/tada2.png" alt="Slider Image" />

                        </div>
                        <div class="header-slider-item">
                            <img src="~/Assets/img/tada3.jpg" alt="Slider Image" />

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-img">
                        <div class="img-item">
                            <img src="~/Assets/img/ell1.jpg" />

                        </div>
                        <div class="img-item">
                            <img src="~/Assets/img/ell.png" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Slider End -->
    <!-- Brand Start -->
    <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">
                <div class="brand-item"><img src="~/Assets/img/brand-1.png" alt=""></div>
                <div class="brand-item"><img src="~/Assets/img/brand-2.png" alt=""></div>
                <div class="brand-item"><img src="~/Assets/img/brand-3.png" alt=""></div>
                <div class="brand-item"><img src="~/Assets/img/brand-4.png" alt=""></div>
                <div class="brand-item"><img src="~/Assets/img/brand-5.png" alt=""></div>
                <div class="brand-item"><img src="~/Assets/img/brand-6.png" alt=""></div>
            </div>
        </div>
    </div>
    <!-- Brand End -->
    <!-- Feature Start-->
    <!-- Feature End-->
    <!-- Category Start-->
    <div class="category">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="category-item ch-400">
                        <img src="~/Assets/img/giasu1.jpg" />

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="category-item ch-250">
                        <img src="~/Assets/img/giasu6.jpg" />

                    </div>
                    <div class="category-item ch-150">
                        <img src="~/Assets/img/giasu4.jpg" />

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="category-item ch-150">
                        <img src="~/Assets/img/giasu3.jpg" />

                    </div>
                    <div class="category-item ch-250">
                        <img src="~/Assets/img/giasu2.jpg" />

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="category-item ch-400">
                        <img src="~/Assets/img/giasu1.jpg" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent Product Start -->
    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Khóa Học Gần Đây</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">


                @if (listclass != null)
                {
                    foreach (var item in listclass)
                    {

                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">Thông tin lớp</a>


                                    <div class="product-image">
                                        <div class="tada" style="background-color:azure;">
                                            <img src="~/Assets/img/giasu1.jpg" style="display:block;" />
                                            <ul>
                                                <li style="display:none">row_@item.ID </li>
                                                <li>Tên lớp: @(item.Name ?? "")</li>
                                                <li>Địa chỉ: @(item.Address ??"")</li>
                                                <li>Giáo viên: @(item.TeacherName)</li>
                                                <li>Thuộc quản lý bộ môn: @(item.ScienceName != null ? item.ScienceName.ToString() : "")</li>
                                                <li>Thời gian bắt đầu: @item.CreatedDate</li>
                                                <li>Thời gian Kết thúc: @item.ModifiedDate</li>
                                                <li>Liên hệ: 0389750032</li>
                                                <li>Học phí: 400.000 VNĐ</li>
                                                <li>Người phụ trách: Võ Ngọc Tâm</li>
                                                @*<li>Số buổi: 3</li>
                                        <li>GV: Cao Hữu Anh Tú</li>
                                        <li>Liên hệ: 0981734759</li>*@
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span></span></h3>
                                        <a class="btn" href=""><i class=""></i>Đăng Kí</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
            </div>
    </div>
    <!-- Recent Product End -->
    <!-- Footer Start -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2></h2>
                        <div class="contact-info">

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Liên Lạc</h2>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>61-Võ Trường Toản</p>
                            <p><i class="fa fa-envelope"></i>1710292@dlu.edu.vn</p>
                            <p><i class="fa fa-phone"></i>+84345506845</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Theo Dõi</h2>
                        <div class="contact-info">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2></h2>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/lib/easing/easing.min.js"></script>
    <script src="~/Assets/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Assets/js/main.js"></script>
</body>
</html>


