@using Managing_Teacher_Work.Models;
@{
    ViewBag.Title = "CalendarWorkingDetails_Level2";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var Cal = (CalendarWorking)ViewBag.Calendarworking;
    var teacherbyID = (Teacher)ViewBag.teacher;
    var typecalByID = (TypeCalendar)ViewBag.typecalendar;
    var workbyID = (Work)ViewBag.work;
}
<script>
    function cancel() {
        if ((document.referrer.toString().indexOf("/Calendar-Working-Detail/") != -1)) {
            window.location = "/Calendar-Working-Detail/@Cal.ID";
        }
    }
</script>
<div>
    <div class="body">
      
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="form-group">
                    <h4><b>@(Cal.Name_CalendarWorking??"")</b></h4>
                </div>
            </div>
        </div>
        <div><span><span class="fa fa-user"></span>&nbsp;Giáo viên phụ trách:&nbsp;@teacherbyID.Name_Teacher &nbsp;</span> - &nbsp;<span class="fa fa-list"></span>&nbsp;Tình trạng thực hiện:&nbsp;@if (Cal.WorkState == "DangThucHien") { <span>Đang thực hiện</span> } else { <span>Đã hoàn thành</span>} - &nbsp;<span class="fa fa-tasks"></span>&nbsp;Loại lịch công tác:&nbsp;@(typecalByID.TypeName??"") -  &nbsp;<span class="fa fa-tasks"></span>&nbsp;Loại công việc:&nbsp;@(workbyID.Name_Work??"")</div>
       <br />
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;Thời gian thực hiện:&nbsp;<i>Từ ngày @(Cal.DateStart.ToString("dd/MM/yyyy")??"") đến ngày @(Cal.DateEnd.ToString("dd/MM/yyyy")??"")</i> -&nbsp;Địa điểm triển khai:&nbsp;<i> @(Cal.Address??"")</i>
        </div>
        <br />
        <p><i><b>Nội dung công việc:</b></i></p>
        @if (Cal.Description != null)
        {
            <p>@Html.Raw(Cal.Description)</p>
        }
        else
        {
            <p>Không có dữ liệu</p>
        }

    <div class=row>
        <h6><i><b>Văn bản đính kèm:</b></i><a href="@Cal.Files"><i class="fa fa-file-word-o"></i><i>Tải xuống</i></a></h6>
    </div>
        <div class="input" style="text-align: center;">
           
            <button class="btn btn-search" style="background-color:orangered; color: white" onclick="cancel();">
                <span></span><i class="fa fa-undo"></i>&nbsp;Quay lại
            </button>
        </div>
    </div>
</div>